[Desktop Entry]
Name=Browser Picker
Comment=Choose which browser to open links with
Exec=/home/sar/.local/bin/browser-picker %u
Icon=applications-internet
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;text/html;
StartupNotify=false
NoDisplay=true
