[Desktop Entry]
Version=1.0
Name=Rmpc
Type=Application
Comment=Powerful console music player
Terminal=true
Exec=rmpc
Categories=ConsoleOnly;Audio;Player;
GenericName=Music player
Keywords=rmpc;audio;player;
