@define-color bg-color #282828;
@define-color fg-color #d4be98;
@define-color gray #7c6f64;
@define-color orange #e78a4e;
@define-color green #a9b665;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @fg-color;
}

#workspaces button {
    padding: 5px;
    color: @gray;
    margin-right: 5px;
}

#workspaces button.active {
    color: @orange;
}

#workspaces button.focused {
    color: @fg-color;
    background: @bg-color;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @bg-color;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @orange;
    color: @bg-color; 
    border-radius: 10px;
}

#window,
#idle_inhibitor,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @bg-color;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: @bg-color;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#idle_inhibitor {
    border-radius: 0px 10px 10px 0px;
    padding-left: 0px;
    margin-right: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @fg-color;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  @fg-color;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: @fg-color;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @fg-color;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color:@fg-color;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
