[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1) https://github.com/swaywm/swayidle
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
AssertPathExists=%h/.config/swaylock/config
AssertPathExists=%h/.config/swayidle/config

[Service]
Type=simple
Restart=on-failure
TimeoutSec=30
ExecStart=/usr/bin/swayidle -w

[Install]
WantedBy=graphical-session.target
